/*CLASES REUTILIZABLES*/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}

*:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  font-size: 16px;
  line-height: 1.71429;
}

/* Grid */

.container {
  margin: 0 auto 0;
  max-width: 1200px;
  width: 100%;
}

.row::after {
  content: "";
  display: table;
  clear: both;
}

[class*='col-'] {
  float: left;
  padding: 15px;
}

.col-xs-1 {
  width: 8.33333333%;
}

.col-xs-2 {
  width: 16.66666667%;
}

.col-xs-3 {
  width: 25%;
}

.col-xs-4 {
  width: 33.33333333%;
}

.col-xs-5 {
  width: 41.66666667%;
}

.col-xs-6 {
  width: 50%;
}

.col-xs-7 {
  width: 58.33333333%;
}

.col-xs-8 {
  width: 66.66666667%;
}

.col-xs-9 {
  width: 75%;
}

.col-xs-10 {
  width: 83.33333333%;
}

.col-xs-11 {
  width: 91.66666667%;
}

.col-xs-12 {
  width: 100%;
}

.col-xs-offset-1 {
  margin-left: 8.33333333%;
}

.col-xs-offset-2 {
  margin-left: 16.66666667%;
}

.col-xs-offset-3 {
  margin-left: 25%;
}

.col-xs-offset-4 {
  margin-left: 33.33333333%;
}

.col-xs-offset-5 {
  margin-left: 41.66666667%;
}

.col-xs-offset-6 {
  margin-left: 50%;
}

.col-xs-offset-7 {
  margin-left: 58.33333333%;
}

.col-xs-offset-8 {
  margin-left: 66.66666667%;
}

.col-xs-offset-9 {
  margin-left: 75%;
}

.col-xs-offset-10 {
  margin-left: 83.33333333%;
}

.col-xs-offset-11 {
  margin-left: 91.66666667%;
}

.col-xs-offset-12 {
  margin-left: 100%;
}

@media (min-width: 768px) {
  .col-sm-1 {
    width: 8.33333333%;
  }

  .col-sm-2 {
    width: 16.66666667%;
  }

  .col-sm-3 {
    width: 25%;
  }

  .col-sm-4 {
    width: 33.33333333%;
  }

  .col-sm-5 {
    width: 41.66666667%;
  }

  .col-sm-6 {
    width: 50%;
  }

  .col-sm-7 {
    width: 58.33333333%;
  }

  .col-sm-8 {
    width: 66.66666667%;
  }

  .col-sm-9 {
    width: 75%;
  }

  .col-sm-10 {
    width: 83.33333333%;
  }

  .col-sm-11 {
    width: 91.66666667%;
  }

  .col-sm-12 {
    width: 100%;
  }

  .col-sm-offset-1 {
    margin-left: 8.33333333%;
  }
  
  .col-sm-offset-2 {
    margin-left: 16.66666667%;
  }
  
  .col-sm-offset-3 {
    margin-left: 25%;
  }
  
  .col-sm-offset-4 {
    margin-left: 33.33333333%;
  }
  
  .col-sm-offset-5 {
    margin-left: 41.66666667%;
  }
  
  .col-sm-offset-6 {
    margin-left: 50%;
  }
  
  .col-sm-offset-7 {
    margin-left: 58.33333333%;
  }
  
  .col-sm-offset-8 {
    margin-left: 66.66666667%;
  }
  
  .col-sm-offset-9 {
    margin-left: 75%;
  }
  
  .col-sm-offset-10 {
    margin-left: 83.33333333%;
  }
  
  .col-sm-offset-11 {
    margin-left: 91.66666667%;
  }
  
  .col-sm-offset-12 {
    margin-left: 100%;
  }
}

img {
  vertical-align: middle;
  width: 100%;
}

section {
  width: 100%;
  padding: 62px 0;
  text-align: center;
}

/* .container {
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 14px;
  padding-right: 14px;
} */

.container:before, .container:after {
  content: " ";
  display: table;
}

*:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.container:after {
  clear: both;
}

.mb-0 {
  margin-bottom: 0px;
}

.mt-0 {
  margin-top: 0px;
}

.m-0 {
  margin: 0px;
}

a {
  color: #373B47;
  text-decoration: none;
}

a:hover {
  color: #E95853;
}

.text-uppercase {
  text-transform: uppercase;
}

/*CLASES ESPECÍFICAS*/
header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background-color: #fff;
  font-weight: bold;
}

.box-header {
  width: 98px;
  height: 98px;
  margin-right: 36px;
  padding: 14px;
  float: right;
}

.logo {
  width: 100%;
}

nav {
  float: left;
  margin-left: 175px;
  position: absolute;
  top:50%;
  transform: translateY(-50%);
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: auto;
}

li {
  float: left;
  margin-right: 48px;
}

li:last-child {
  margin-right: 0;
}

h1 {
  margin-top: 72px;
  margin-bottom: 20px;
  font-size: 54px;
  line-height: 1;
}

h2 {
  margin: 20px 0 45px;
  font-weight: 700;
  line-height: 1;
  font-size: 35px;
  letter-spacing: 2px;
}

h4 {
  margin: 21px 0;
}

#home {
  margin-top: 98px;
  background-image: url('../assets/images/bg-home.jpg');
  /* height: calc(100vh - 98px); */
  background-size: cover;
  background-position: center;
  color: #fff;
}

#home h2 {
  margin-top: 16px;
  font-size: 24px;
  letter-spacing: 0;
}

#home p {
  font-weight: 300;
  margin: 10px auto;
}

.btn {
  display: inline-block;
  margin-top: 70px;
  background-color: #2ecc71;
  color: #fff;
  padding: 18px 20px;
  line-height: 1;
}

#services {
  background-color: #f17c72;
  color: #fff;
}

.col-image {
  padding: 65px 20px 0;

}

#work {
  padding-bottom: 112px;
}

#work figure {
  display: inline-block;
  padding-top: 28px;
}

.grid {
  overflow: auto;
  font-weight: 700;
  padding: 22px 5% 0;
}

.grid div {
  width: 300px;
  float: left;
  margin-right: 72px;
  margin-bottom: 65px;
}

.grid div:nth-of-type(3n) {
  margin-right: 0;
}

.grid div:nth-last-of-type(-n+3) {
  margin-bottom: 0;
}

footer {
  background-color: #373b47;
  color: #fff;
  text-align: center;
  line-height: 70px;
}